$white: #ffffff; // nav.color
$red: #dc3232;
$redDark: #8a0606;
$redPink: #e1122a;
$pink: #f25f70; // nav.bg, social networks
$pinkLight: #ffa4ad; // nav.bullet
$blue: #0092ef;
$orange: #f18500;
$orangeLight: #fff0dd;
$orangeDark: #ff6600;
$orangeDarker: #d44300;
$greyLight: #f0f0f0; // bg
$greyDark: #404040; //footer
$greyTextNav:#4f4f4f; // nav:hover
$green: #85961e;
$greenDark: #3e4705;