$white: #ffffff; // nav.color
$red: #dc3232;
$redPink: #e1122a;
$pink: #f25f70; // nav.bg, reseaux
$pinkLight: #ffa4ad; // nav.bullet
$blue: #0092ef;
$orangeDark: #ff6600;
$orange: #f18500;
$greyLight: #f0f0f0; // bg
$greyDark: #404040; //footer
$greyTextNav:#4f4f4f; // nav:hover
$green: #85961e;